monitor
resid-0.16/.deps/
resid-0.16/.libs/
resid-0.16/Makefile
resid-0.16/config.log
resid-0.16/config.status
resid-0.16/envelope.lo
resid-0.16/envelope.o
resid-0.16/extfilt.lo
resid-0.16/extfilt.o
resid-0.16/filter.lo
resid-0.16/filter.o
resid-0.16/libresid.la
resid-0.16/libtool
resid-0.16/pot.lo
resid-0.16/pot.o
resid-0.16/sid.lo
resid-0.16/sid.o
resid-0.16/siddefs.h
resid-0.16/version.lo
resid-0.16/version.o
resid-0.16/voice.lo
resid-0.16/voice.o
resid-0.16/wave.lo
resid-0.16/wave.o
resid-0.16/wave6581_PST.lo
resid-0.16/wave6581_PST.o
resid-0.16/wave6581_PS_.lo
resid-0.16/wave6581_PS_.o
resid-0.16/wave6581_P_T.lo
resid-0.16/wave6581_P_T.o
resid-0.16/wave6581__ST.lo
resid-0.16/wave6581__ST.o
resid-0.16/wave8580_PST.lo
resid-0.16/wave8580_PST.o
resid-0.16/wave8580_PS_.lo
resid-0.16/wave8580_PS_.o
resid-0.16/wave8580_P_T.lo
resid-0.16/wave8580_P_T.o
resid-0.16/wave8580__ST.lo
resid-0.16/wave8580__ST.o
